
<header class="sticky">
  <a href="#" class="logo">Porfolio </a>
  <div class="toggle"></div>
  <ul class="menu">
  <li><a href="#home">Home</a></li>
   <li><a href="#about">About</a></li>
    <li><a href="#service">Services</a></li>
     <li><a href="#work">Work</a></li>
      <li><a href="#testimonial">Testimonial</a></li>
       <li><a href="#contact">Contact</a></li>
  </ul>
</header>
<section class="banner" id="home">
  <div class="textBox">
   <h2>Hello, I'm<br><span>Thabang Manaka. </span> </h2>
   <h3>I'm a Software Developer. </h3>
   <a mat-raised-button href="#about" class="btn">About Me</a>
  </div>

</section>

<section class="about" id="about">
  <div class="heading">
    <h2>About Me </h2>
    </div>
        <div class="content">
         
    <div class="contentBx w50">
 
      <h3>I'm a Software Developer. </h3>
      <p>Self directed, detail-oriented, and software developer with more than 2 years of experience in designing, developing, analyzing, and implementing client-server, web and desktop-based application using C# language. Capable of learning new programming languages and technologies and complete projects within specified deadlines. Possess excellent communication, problem-solving, documentation, analytical, and decision solving skills.</p>
       
    </div>
   
    <div class="w50">
    <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_537586633_360886.jpg" class="img">
    </div>
  
    </div>
   
</section>


<section class="services" id="service">
  <div class="heading white">
    <h2>Our Service</h2>
  
  </div>
  <div class="content">
    <div class="servicesBx">
      <img src="https://i.ibb.co/FqJMnLq/icon1.png">
      <h2>Web Development </h2>
      <p>I have been working with web development since 2017, the period during which I have worked in different environments, from big consultancy companies to start-ups. I am a self-motivated and self-taught professional who likes to solve problems. </p>
    </div>
        <div class="servicesBx">
      <img src="https://i.ibb.co/dPhMGkH/icon3.png">
      <h2>Mobile App Development </h2>
      <p>I have a good background in creating complex mobile applications for  Android. I can work independently and respect a deadline. I feel comfortable working with a good team of developers. I am passionate about the mobile marketing and have knowledge about. Language that i used is IONIC/ANGULARr</p>
    </div>
        <div class="servicesBx">
      <img src="https://i.ibb.co/JpZJGmc/icon5.png">
      <h2>Back-End Development</h2>
      <p>Fluency or understanding of specific languages, such C# or C++, Strong understanding of the web development cycle and programming techniques and tools.Focus on efficiency, user experience, and process improvement. </p>
    </div>
  
        <div class="servicesBx">
      <img src="https://i.ibb.co/HHgWPbm/icon2.png">
      <h2>Full Stack Development</h2>
      <p><strong>Front-Tehnologies: </strong> Latest, Bootstrap
CSS3, ES6/ES2015, Firebase, GraphQL
HTML5, JSON, RESTful API
ReactJS, Stencil.js, TypeScript, Underscore.js
XML, jQuery <br><strong>Back-Tehnologies: </strong>NET Core, .NET Framework 4.x, ADO.NET
ASP.NET, ASP.NET MVC, ASP.NET Web API 2
C#, NuGet </p>
    </div>
  </div>
</section>

<section class="work" id="work">
  <div class="heading">
     <h2>Our Latest Work </h2>
     <p>Capable of learning new programming languages and technologie.</p>
  </div>

  <div class="content"> 
    <div class="workBx">  
      <img src="https://cdn.vox-cdn.com/thumbor/ufuiQsIL3FpVim1sT4yorpqEcZE=/0x189:2040x1257/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/19206339/akrales_190913_3628_0277.jpg" >
    </div>

        <div class="workBx">  
      <img src="https://images.yourstory.com/cs/1/b1bd46a0-af56-11e8-9114-5d0be654d8db/Business_Idea1557319476667.png?fm=png&auto=format&w=800&blur=500" >
    </div>
  
       <div class="heading">
      
         <a mat-raised-button href="#work" class="btn">View More</a>
       </div>
       </div>

 
</section>
<section class="testimonial" id="testimonial">
  <div class="heading">
    <h2>Testimonial </h2>
    <p>My journey and corporation with other organization </p>
  </div>

  <div class="content">
     <div class="testimonialBx">
       <p><strong>TechOasis System</strong>is an extensive range of
software development services including Mobile/Web App development, Software Consulting, Web Design
& Development, Database Development, CRM Solutions, Systems Integration, Enterprise Solutions, etc.</p>
       <h3>Vee Mupunga <br><span>Scrum Master</span></h3>
     </div>
        <div class="testimonialBx">
       <p><strong>The Digital Academy</strong> focuses on creating innovative digital products in Africa. Launched in response to a frustrating lack of digital skills on the continent, our vision is to create opportunities for youth through incentive-based learning with strategic corporate partners who share a common visio</p>
       <h3>Gary Bannatyne<br><span>Co-Founder</span></h3>
     </div>
    </div>
</section>
<section class="contact" id="contact"> 
   <div class="heading white">
    <h2>Contact Us</h2>
 
  </div>
   <div class="content">
    <div class="contactInfo">
  <h3>Contact Info </h3>
  <div class="contactInfoBx">
  <div class="box">
    <div class="icon"><i class="material-icons">
location_on
</i> </div>
  <div class="text"> 
    <h3> Address </h3>
    <p>350 Block L,<br>Soshaguve, <br>0152 </p>
     </div>
    </div>
   <div class="box">
  <div class="icon"><i class="material-icons">
phone
</i> </div>
  <div class="text"> 
    <h3>Phone</h3>
    <p>+2779 968 5263</p>
     </div>
    </div>
   <div class="box">
  <div class="icon"> <i class="material-icons">mail</i> </div>
  <div class="text"> 
    <h3>Email</h3>
    <p>thabangdansteyn@gmail.com</p>
     </div>
    </div>
    </div>
   </div>
   <div class="formBx">
     <form>
    <h3>Message Me</h3>
    <input type="text" name="" placeholder="Full Name">
    <input type="email" name="" placeholder="Email">
    <textarea placeholder="Your Message"> </textarea>
   
      <a mat-raised-button href="#work" class="btnSend ">Send</a>
     </form>
   </div>
   </div>
</section>
<div class="copyright">
  <p>Copyright &copy; 2020. All Right Reserved. </p>
</div>
<script type="text/javascript">
 window.addEventListener('scroll', function(){
   var header = document.querySelector('header.sticky');
   header.classList.toggle('sticky', window.scrollY > 0);
 });
  </script>